<%= form_for(@visitor) do |f| %>
  <% if @visitor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@visitor.errors.count, "error") %> prohibited this guess from being saved:</h2>
      <ul>
      <% @visitor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Name (optional)"%><br>
    <%= f.text_field :name %>
  </div><br>
  <div class="field">
    <%= f.label :guess, "Where do you think your T-shirt was made?" %><br>
    <%= f.select :guess, ['China', 'Vietnam', 'Bangladesh', 'Indonesia', 'Mexico', 'India', 'Honduras', 'Cambodia', 'El Salvador', 'Sri Lanka', 'United States', 'Second-Hand', 'Hand-Made', 'Other'] %>
  </div>

    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>

    <h1>Check your tag <%= image_tag "tag.png", size: '50x50' %></h1><br>
    <h2>Did you guess correctly?</h2><br>

  <div class="field">
    <%= f.label :tshirt_made, "Where was your T-shirt ACTUALLY made?"%><br>
    <%= f.select :tshirt_made, ['China', 'Vietnam', 'Bangladesh', 'Indonesia', 'Mexico', 'India', 'Honduras', 'Cambodia', 'El Salvador', 'Sri Lanka', 'United States', 'Second-Hand', 'Hand-Made', 'Other'] %>
  </div><br>
  <div class="field">
    <%= f.label :comment, "Comment (optional)"%><br>
    <%= f.text_area :comment %>
  </div>
  <div class="actions">
    <%= f.submit "Submit Answer", class: "btn btn-lg btn-info" %>
  </div>
<% end %>
