<center>
<h1>Today's visitors have T-Shirts<br>
   from all over the world</h1>
<br>
<br>
<div class="row">
  <div class="col-md-6">
    <h1>Guesses Where T-shirts Where Made</h1>
    <%= pie_chart @visitors_guess.group(:guess).count, colors: ["#190000", "#660000", "#990000", "#cc0000", "#ff0000", "#ff3232", "#ff4c4c", "#ff6666", "#ff7f7f", "#ff9999", "#ffb2b2", "#ffcccc", "#ffe5e5"], library: {backgroundColor: "none"}%>
  </div>
  <div class="col-md-6">
    <h1>Where T-shirst Were <span class= "pop">Actually</span> Made</h1>
    <%= pie_chart @visitors_tshirt_made.group(:tshirt_made).count, colors: ["#190000", "#660000", "#990000", "#cc0000", "#ff3232", "#ff0000", "#ff4c4c", "#ff6666", "#ff7f7f", "#ff9999", "#ffb2b2", "#ffcccc", "#ffe5e5"], library: {backgroundColor: "none"} %>
  </div>
</div>
<br>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<br>
<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <h1>The US imports over <span class="pop">$80 Billion</span><br> of apparel EACH year.</h1>
    <%= image_tag "money.png", size: '100x100' %>
  </div>
  <div class="col-md-4">
  </div>
</div>
<br>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<br>
<div class="row">
  <div class="col-md-12">
    <h2>Top 10 Countries of Apparel Imports to US</h2>
    <h2>$US in Billions - 2014</h2>
  </div>
<div class="row">
  <div class="col-md-10">
    <div class= "map">
      <%= geo_chart @countries.group(:name).sum(:us_imports), colors: ["#ff9999", "#660000"], width: "1200px", height: "600px", library: {backgroundColor: "black"}%>
    </div>
  </div>
  <div class="col-md-2">
    <table class="table table-sm">
      <thead>
        <tr>
          <th><h4>Country</h4></th>
          <th><h4><strong>US$ Billion</h4></th>
        </tr>
      </thead>
      <tbody>
        <% @import_order_countries.each do |country| %>
          <tr>
            <td><%= link_to country.name, country_path(country) %></td>
            <td><center><div class="pop"><%= country.us_imports %></div><center></td>
            <!-- <td><%= link_to 'Edit', edit_country_path(country) %> |
                <%= link_to 'Destroy', country, method: :delete %></td> -->
          </tr>
        <% end %>
      </tbody>
    </table>
    <p><%= link_to "Source: U.S. Department of Commerce Office of Textiles and Apparel, August 2015", page_path(:page=>'resources', :anchor => "data-sources") %></p>
  </div>
</div>
<br>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<br>
<div class="dark-well">
  <div class="well well-lg", id="countries-selection">
    <h1>
      Was your T-shirt made in one of the TOP exporting countries?<br>
      <%= image_tag "binoculars.png", size: '150x150'%><br>
      Click to learn more about<br>
      the country and people!
    </h1>
      <br>
      <br>
    <div class="row">
      <div class="col-sm-1">
      </div>
      <% @import_order_countries.each do |country| %>
        <div class="col-sm-1">
          <%= link_to country.name, country_path(country) %><br>
          <%= image_tag("#{country.country_image}", size: '75x75') %>
        </div>
      <% end %>
      <div class="col-sm-1">
      </div>
    </div>
  </div>
</div>
</center>
