<center>
<h1>Let's start at the beginning.</h1>
<br>
<%= image_tag "thread.png", size: '150x150'%>
<br>
<br>
<div class="well well-lg"><h1>Where do you think your <%= image_tag "tshirt.png", size: '50x50' %> was made?</h1></div>
<br>
<h2>Here's a clue:<br> More than 97% of apparel sold in the U.S.<br> is made overseas.</h2>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<h2>2/3 of those imports comes from the Eastern Hemisphere.</h2>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<br>
<div class="well well-lg">
  <h1>Chances are<br> your T-shirt was made<br> <%= image_tag "road.png", size: '150x150'%><strong> THOUSANDS </strong> <%= image_tag "road.png", size: '150x150'%><br> of miles away</h1>
  <%= link_to 'NEXT', countries_path, class: "btn btn-lg btn-info" %>
</div>

<br>
</center>
