<center>
<h1>What Will Happen To Your <%= image_tag "tshirt.png", size: '100x100' %> </h1>
<h1>At The End of It's Journey?</h1>
<br>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <h2>On average, a person generates <span class="pop">82lbs</span> of textile waste each year.</h2>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <div class="row">
    <div class="col-sm-6 col-md-5">
      <div class="dark-well">
        <div class="well well-lg">
        <h1><span class="pop">85%</span> (or 70lbs) of a person's textiles will end up in the <br>
        <%= image_tag "trash.png", size: '100x100' %></h1>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-2">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </div>
    <div class="col-sm-6 col-md-5">
      <div class="dark-well">
        <div class="well well-lg">
        <h1>While <span class="pop">15%</span> (or 12lbs) will be<br>
        donated or<br>
        <%= image_tag "recycle.png", size: '100x100' %></h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-7">
    </div>
    <div class="col-sm-6 col-md-5">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-7">
    </div>
    <div class="col-sm-6 col-md-5">
      <h2>About <span class="pop">10%-20%</span> of donated clothing gets sold.</h2><br>
      <h2>Of the rest, depending on quality<br></h2>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <br>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-2">
      <div class="dark-well">
        <div class="well well-lg">
        <h3><span class="pop-extra">5%</span><br> will end up in the<br>
        <%= image_tag "trash.png", size: '75x75' %></h3>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-1">
    </div>
    <div class="col-sm-6 col-md-2">
      <div class="dark-well">
        <div class="well well-lg">
        <h3><span class="pop-extra">20%</span><br>will be recyled into fiber, mostly home insulation and carpet padding <br>
        <%= image_tag "padding.png", size: '75x75' %></h3>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-1">
    </div>
    <div class="col-sm-6 col-md-2">
      <div class="dark-well">
        <div class="well well-lg">
          <h3><span class="pop-extra">30%</span><br>will be recycled and coverted, mostly to industrial absorbants<br>
          <%= image_tag "absorbant.png", size: '75x75' %></h3>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-1">
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="dark-well">
        <div class="well well-lg">
          <h3><span class="pop-extra">45%</span><br>will be repurposed, mostly exported as second-hand clothing<br>
          <%= image_tag "clothes.png", size: '75x75' %></h3>
        </div>
      </div>
    </div>
  </div>
<br>
<h2><a href="https://recyclinglocator.earth911.com/recycling-locator/f4dae61cc8523893" target="_blank">Find A Place to Recycle in Portland</a> | <%= link_to "Learn More/Resources", page_path(:page => "resources") %> | <%= link_to "Restart Your Journey", root_path %></h2>
</center>
<br>
