<center>
<bold><h1>Learn More</h1></bold>
</center>
<br>
<br>
<div class="row">
  <div class="col-md-8">
    <div class="well-single">
      <h2><div class= "pop", id="inspiration-for-site">Inspiration for this Site</div></h2>
    </div>
      <h3>Check out these resources for more information on the lifecycle of a T-Shirt</h3>
      <ul class="resources">
      <li><a href="http://truecostmovie.com/" target="_blank">The True Cost- Who Pays for the Price of Our Clothing?</a>
      <li><a href="http://apps.npr.org/tshirt/#/title" target="_blank">NPR's Planet Money Makes a T-Shirt</a>
      <li><a href="http://www.weardonaterecycle.org/index.html" target="_blank">Council for Textile Recycling</a>
      <li><a href="http://www.smartasn.org/" target="_blank">SMART - Secondary Materials and Recycled Textiles</a>
      </ul>
    </div>
  <div class="col-md-4">
    <center><%= image_tag "inspiration.png", size: "165x165" %></center>
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="col-md-4">
    <center><%= image_tag "data.png" %></center>
  </div>
  <div class="col-md-8">
    <div class="well-single">
      <h2><div class= "pop", id="data-sources">Data Sources</div></h2>
    </div>
      <h3>All data in this site can be found at the following sources</h3>
      <h4>Data represent most current information available as of November 2015 unless otherwise specified.</h4>
      <ul class="resources">
      <li><a href="http://otexa.trade.gov/scripts/TQValue.exe/runquery?cat=1" target="_blank">U.S. Department of Commerce Office of Textiles and Apparel, August 2015</a>
      <li><a href="http://www.ilo.org/global/lang--en/index.htm" target="_blank">International Labor Organization</a>
      <li><a href="https://www.wto.org/index.htm" target="_blank">World Trade Organization</a>
      <li><a href="http://justjobsnetwork.org/wp-content/pubs/reports/RealWageStudy.pdf" target="_blank">Center for American Progress</a>
      </ul>
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="col-md-8">
    <div class="well-single">
      <h2><div class= "pop", id="image-sources">Image Sources</div></h2>
    </div>
      <h3>Thank you to the following sources for their beautiful images</h3>
      <h4>International Labor Organization Asia and the Pacific</h4>
        <ul class="resources">
          <li><a href="https://www.flickr.com/photos/77173826@N08/7165858301/" target="_blank">Cambodia - (Better Factories Cambodia Project)</a>
          <li><a href="https://www.flickr.com/photos/iloasiapacific/10987405545/in/photostream/" target="_blank">Indonesia - (Better Work Indonesia)</a>
          <li><a href="https://www.flickr.com/photos/iloasiapacific/8249606304/in/album-72157630849383264/" target="_blank">Sri Lanka</a>
          <li><a href="https://www.flickr.com/photos/iloasiapacific/10987405545/in/photostream/" target="_blank">Vietnam - (Better Work Vietnam)</a>
        </ul>
      <h4>AFL-CIO America's Unions</h4>
        <ul class="resources">
          <li><a href="http://www.aflcio.org/content/download/147761/3770791/file/Honduras.PDF" target="_blank">Honduras</a>
        </ul>
      <h4>Individual Contributions</h4>
        <ul class="resources">
          <li><a href="https://www.flickr.com/photos/jajankie/5790840713/in/photolist-9PHzcg-b8q6Pe-bmGtAJ-2F4BRu-ntthJk-7JwZ8s-48pkNM-jFw8kQ-7QqbTh-9MsYiz-pfwtG6-99Z6V9-8oXtAX-8Ho5LB-8Ho7L2-bAHAhP-8Ho6Qr-8nNPUG-8nNPWW-8Hrgzj-8xECxK-8HrcGW-8LWNWQ-8HnWgM-8HnYcH-8Ho14F-8Ho27g-8HnX8n-8HnZ8P-f9X8At-J7ugV-jt7M2j-dmerFs-h1dqLs-rjX75S-9MvDBw-rZodaq-2EZ3ED-aABQzd-8o9VMu-atHioh-7UwjJi-4KdAoD-9ZKYAK-9ZKYCD-6oSxv8-3nxDek-2U93PW-9MvDBs-5tgnQX" target="_blank">Bangladesh</a>
          <li><a href="https://www.flickr.com/photos/blaineo/4643696151" target="_blank">China</a>
        </ul>
  </div>
  <div class="col-md-4">
    <center><%= image_tag "camera.png", size:"150x150" %></center>
  </div>
</div>
<center>
  <div class= "spin">
    <%= image_tag "travel.png" %>
  </div>
  <h2><%= link_to "Restart Your Journey", root_path %></h2>
</center>
<br>
<br>
<br>
