<center>
<h1>Learn More</h1>
</center>
<br>
<br>
<div class="row">
  <div class="col-md-8">
    <div class="well-single">
      <h2><div classs= "pop">Inspiration for Site</div></h2>
    </div>
      <h3>Check out these resources for more information on a where clothes come from and who makes them</h3>
      <ul class="resources">
      <li><a href="#" >Dapibus ac facilisis in</a>
      <li><a href="#" >Morbi leo risus</a>
      <li><a href="#" >Porta ac consectetur ac</a>
      <li><a href="#" >Vestibulum at eros</a>
      </ul>
    </div>
  <div class="col-md-4">
    <center><%= image_tag "inspiration.png", size: "165x165" %></center>
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="col-md-4">
    <center><%= image_tag "data.png" %></center>
  </div>
  <div class="col-md-8">
    <div class="well-single">
      <h2><div classs= "pop">Data Sources</div></h2>
    </div>
      <h3>All data in this site can be found at the following sources</h3>
      <ul class="resources">
      <li><a href="#" >Dapibus ac facilisis in</a>
      <li><a href="#" >Morbi leo risus</a>
      <li><a href="#" >Porta ac consectetur ac</a>
      <li><a href="#" >Vestibulum at eros</a>
      </ul>
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="col-md-8">
    <div class="well-single">
      <h2><div classs= "pop">Image Sources</div></h2>
    </div>
      <h3>Thank you to the following sources for your beautiful images:</h3>
      <ul class="resources">
      <li><a href="#" >Dapibus ac facilisis in</a>
      <li><a href="#" >Morbi leo risus</a>
      <li><a href="#" >Porta ac consectetur ac</a>
      <li><a href="#" >Vestibulum at eros</a>
      </ul>
  </div>
  <div class="col-md-4">
    <center><%= image_tag "camera.png", size:"150x150" %></center>
  </div>
</div>
<center>
  <div class= "spin">
    <%= image_tag "travel.png" %>
  </div>
  <h2><%= link_to "Restart Your Journey", root_path %></h2>
</center>
<br>
<br>
<br>
