<center>
<h1>Check your tag <%= image_tag "tag.png", size: '50x50' %></h1>
<h2>Did you guess correctly?</h2>
<h2>Where is your T-shirt actually from?</h2>
<%= link_to 'Add Answer', new_visitor_path, id: "add_visitor_answer_link", remote: true, class: "btn btn-sm btn-info" %>
<h4>You'll see everyone's results at the end.</h4>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<h1>As a country, we import over <h1>
  <strong>$80 Billion</strong>
  <h1>of apparel EACH year.</h1>
  <%= image_tag "money.png", size: '100x100' %>
<h2>Top 10 Countries of Apparel Imports to US</h2>
<h2>$US in Billions - 2014</h2>
<div class="row">
  <div class="col-md-8">
  <%= geo_chart @countries.group(:name).sum(:us_imports), colors: ["#33C1FF", "#008ED6"] %>
</div>
  <div class="col-md-4">
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Country</th>
      <th>US$ Billion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @import_order_countries.each do |country| %>
      <tr>
        <td><%= link_to country.name, country_path(country) %></td>
        <td><%= country.us_imports %></td>
        <td><%= link_to 'Edit', edit_country_path(country) %> |
            <%= link_to 'Destroy', country, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
  <%= link_to 'New Country', new_country_path, id: "new_country_link", remote: true, class: "btn btn-sm btn-info" %>
</table>
</div>
</div>
<br>
<h1>Need so insert the option to select a country and learn more about it</h1>
</center>
<br>
<br>

<br>
