<p id="notice"><%= notice %></p>

<h1>Listing Countries</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Country</th>
      <th>Imported Apparel by US ($ Billions)</th>
      <th>People Living Below $1.90 a day (% of Population)</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @countries.each do |country| %>
      <tr>
        <td><%= link_to country.name, country_path(country) %></td>
        <td><%= country.us_imports %></td>
        <td><%= country.poverty %></td>
        <td><%= link_to 'Edit', edit_country_path(country) %> |
            <%= link_to 'Destroy', country, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>
<%= link_to 'New Country', new_country_path %>
