<center>
<h1>
  <%= @country.name %> <%= image_tag("#{@country.country_image}", size: '150x150') %>
</h1>
  <div class="row">
    <div class="well well-lg col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <h1>Exports into US</h1>
          <h3><%= @country.name %> exports $<%= @country.us_imports %> billion worth of apparel into the United States each year.</h3>
      </div>
    </div>
  </div>
    <div class="well well-lg col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <h1>Garment Worker Wages</h1>
          <h3>The monthly minimum wage for  <%= @country.name %>'s garmet workers is equivalent to $<%= @country.min_wage %> US Dollars.</h3>
        </div>
      </div>
    </div>
    <div class="well well-lg col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <h1>Poverty Rate</h1>
          <h3><%= @country.poverty %>% of <%= @country.name %>'s population lives on less than $1.90 US Dollars.</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
          <%= image_tag("#{@country.people_image}") %>
          <p><a href="https://google.com/">Image Source</a></p>
  </div>
  <h2><%= link_to "Explore more countries", visitors_path(:anchor => "countries-selection") %> | something to end this? </h2>
</center>
<br>
<br>
<br>
