<center>
  <div class="row">
    <div class="col-md-6">
        <div class="countryImage">
          <center> <%= image_tag("#{@country.image}") %></center>
        </div>
    </div>
    <div class="col-md-6">
      <h1>
        <%= @country.name %>
      </h1>
        <%= image_tag("#{@country.image}") %>
    </div>
  </div>
</center>

<div class="row">
  <div class="col-md-8">
    <h2>Exports into US</h2>
    <h2><%= @country.name %> exports $<%= @country.us_imports %> billion worth of apparel into the United States each year.</h2>
  </div>
  <div class="col-md-4">
  </div>
</div>
<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-8">
    <h2>Wages</h2>
    <h2>The monthly minimum wage for garmet workers is equivalent to $<%= @country.min_wage %> US Dollars.</h2>
    <h2><%= @country.poverty %>% of <%= @country.name %>'s population lives on less than $1.90 US Dollars.</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <h2>Education</h2>
    <h2><%= @country.education %>% of <%= @country.name %>'s population has at least a high school level education.</h2></div>
  <div class="col-md-4">
  </div>
</div>
