<center>
<h1>
  <%= @country.name %> <%= image_tag("#{@country.country_image}", size: '150x150') %>
</h1>
  <div class="row">
    <div class="well well-lg col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <h1>Imports / Exports</h1>
          <%= image_tag "export.png", size: '75x75'%>
          <h3><%= @country.name %> exports <span class="pop">$<%= @country.us_imports %></span> billion of apparel to the United States each year. This makes up <span class="pop"><%= number_to_percentage((((@country.us_imports)/81)*100), precision: 1) %> of total </span>US apparel imports.</h3>
      </div>
    </div>
  </div>
    <div class="well well-lg col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <h1>Garment Worker Wages</h1>
          <%= image_tag "wages.png", size: '50x50'%>
          <h3>The <span class="pop">monthly</span> minimum wage for  <%= @country.name %>'s garmet workers is equivalent to <span class="pop">$<%= @country.min_wage %> US</span>.</h3>
        </div>
      </div>
    </div>
    <div class="well well-lg col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <h1>Poverty Rate</h1>
          <%= image_tag "poverty.png", size: '100x100'%>
          <h3><span class="pop"><%= @country.poverty %>%</span> of <%= @country.name %>'s population lives on less than <span class="pop">$1.90 US</span>.</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
          <p><%= link_to "Data Sources", page_path(:page=>'resources', :anchor => "data-sources") %></p>
  </div>
  <div class="row">
          <%= image_tag("#{@country.people_image}") %>
          <p><%= link_to "Image Sources", page_path(:page=>'resources', :anchor => "image-sources") %></p>
  </div>
  <h2><%= link_to "Explore more countries", visitors_path(:anchor => "countries-selection") %> | <%= link_to "See where your clothes end up", page_path(page: 'last_days') %> </h2>
</center>
<br>
<br>
<br>
