<!DOCTYPE html>
<html>
<head>
  <title>Journey of a T-Shirt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
</head>
<body>
<div class="container">
  <%= yield %>
  <br>
    <%= yield :charts_js %>
  <strong><%= flash[:notice] %></strong>
  <footer class="site-footer">
    <strong> Journey of a T-Shirt (insert cute icon here) <%= link_to "Home", root_path %> |
    <%= link_to "Where It Came From", countries_path %> </strong>
    <%= yield(:nav) %>
    <br>
  </footer>
</div>

</body>
</html>
