<!DOCTYPE html>
<html>
<head>
  <title>Journey of a T-Shirt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Josefin+Slab:600' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
</head>
<body>
<div class="container">
  <%= yield %>
  <br>
    <%= yield :charts_js %>
  <strong><%= flash[:notice] %></strong>
  <br>
  <br>
  <footer class="site-footer">
    <br>
    <strong>(need to put some space here) Journey of a T-Shirt (insert cute icon here) <%= link_to "Home", root_path %> -->
    <%= link_to "Where It Came From", countries_path %> --> <%= link_to "Your T-Shirt", visitors_path %> </strong>
    <br>
    <%= yield(:footer) %>
    <br>
  </footer>
</div>

</body>
</html>
