<!DOCTYPE html>
<html>
<head>
  <title>Journey of a T-Shirt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Josefin+Slab:600' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
</head>
<body>
<div class="container">
  <%= yield %>
  <br>
    <%= yield :charts_js %>
  <strong><%= flash[:notice] %></strong>
  <br>
  <br>
  <footer class="site-footer">
    <h4><%= image_tag "planeL.png", size: '50x50' %> <%= link_to "Journey of a T-Shirt", root_path %> <%= image_tag "planeR.png", size: '50x50' %> --> <%= link_to "Take A Guess", countries_path %> --> <%= link_to "Explore A Country", visitors_path(:anchor => "countries-selection") %> --> <%= link_to "Last Days", page_path(page: 'last_days') %> --> <%= link_to "Learn More/Resources", page_path(page: 'resources') %></h4>
    <%= yield(:footer) %>
  </footer>
</div
</body>
</html>
